.error-message {
  position: fixed;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  animation: fadeInOut 2s ease-in-out forwards;
  z-index: 9999; /* Valore alto per visualizzarsi sopra gli altri elementi */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
