* {
  margin: 0;
}

body {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #24221f;
  background-color: #fff;
}

.homeTitle {
  font-size: 2.5rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modelsList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
