.card {
  width: auto;
  height: auto;
  border: 2px solid #ededed;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  margin-right: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.card--selected {
  border: 2px solid orange;
}

.car-name {
  font-size: 2rem;
  margin: 2rem;
  font-weight: 500;
}

.car-image {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-radius: 4px;
}

.price-info {
  display: flex;
  align-items: center;
}

.price-text {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.radioButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(205, 205, 205);
}

.green {
  background-color: rgb(153, 227, 41);
}
